@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 210,8.33%,95.29%;
    --foreground: 233.79 25.22% 22.55%;
    --card: 0 0 100%;
    --card-foreground: 220 22% 37%;
    --popover: var(--card);
    --popover-foreground: 240 10% 3.9%;
    --primary: 211 100% 35%;
    --primary-foreground: 212.31 100% 92.35%;
    --secondary: 220 14.29% 95.88%;
    --secondary-foreground: 229 15% 35%;
    --muted: 240 23% 94%;
    --muted-foreground: 222 14% 32%;
    --accent: 211 100% 81%;
    --accent-foreground: var(--foreground);
    --destructive: 6 100% 34%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 14.29% 95.88%;
    --input: var(--secondary);
    --input-foreground: var(--secondary-foreground);
    --ring: 240 10% 3.9%;
    --chart-1: 211.29 100% 50%;
    --chart-2: 257.32 100% 70.78%;
    --chart-3: 180.91 93.4% 41.57%;
    --chart-4: 39.14 99.15% 53.92%;
    --chart-5: 147.31 65% 47.06%;
    --radius: 0.5rem;
    --green: 120 36% 95%;
    --green-foreground: 113 38% 26%;
    --amber: 51 90% 96%;
    --amber-foreground: 25.76 89.47% 37.25%;
  }
  .dark {
    --background: 224 28.3% 10.39%;
    --foreground: 210,8.33%,95.29%;
    --card: 222.86 28% 14.71%;
    --card-foreground: 240 8% 71%;
    --popover: var(--card);
    --popover-foreground: 0 0% 98%;
    --primary: 211 100% 35%;
    --primary-foreground: 212.31 100% 92.35%;
    --secondary: 222 16% 21%;
    --secondary-foreground: 225 8% 80%;
    --muted: 220 29% 10%;
    --muted-foreground: 231 8% 66%;
    --accent: 212 98% 16%;
    --accent-foreground: var(--foreground);
    --destructive: 6 100% 34%;
    --destructive-foreground: 0 0% 100%;
    --border: 224.21 18.81% 19.8%;
    --input: var(--background);
    --input-foreground: var(--secondary-foreground);
    --ring: 240 4.9% 83.9%;
    --chart-1: 211.29 100% 50%;
    --chart-2: 257.32 100% 70.78%;
    --chart-3: 180.91 93.4% 41.57%;
    --chart-4: 39.14 99.15% 53.92%;
    --chart-5: 147.31 65% 47.06%;
    --green: 139 24% 13%;
    --green-foreground: 128 39% 61%;
    --amber: 24 53% 30%;
    --amber-foreground: 51 90% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
